node_modules/
packages/webapp/public/data/
packages/*/dist/

.cache/
.idea/

/offers/
/work/
/Makefile.regions

# yarn v2, without zero-install
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
