table {
  border-collapse: collapse;
}

td, th {
  padding: 1px 2px;
  text-align: left;
}

td.right {
  text-align: right;
}

tbody td {
  border: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

tbody tr.highlight {
  background-color: #95cbf0;
}

tbody tr.highlight:hover {
  background-color: #75bdf0;
}

th.sortable {
  cursor: pointer;
  position: relative;
}

th.sort-true,
th.sort-false {
  padding-right: 0.8em;
}

th.sort-true::after,
th.sort-false::after {
  color: #999;
  position: absolute;
  right: 3px;
  font-size: smaller;
}

th.sort-true::after {
  content: '↑';
}

th.sort-false::after {
  content: '↓';
}

.settings {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
}

.settings > *:nth-child(-n+2) {
  border-top: none;
}

.settings > * {
  border-top: 1px solid #ccc;
  padding: 2px;
}

.settings > * label {
  white-space: nowrap;
  display: inline-block;
  margin-right: .5em;
}

tr#empty td {
  text-align: center;
  font-style: italic;
}
