table {
  border-collapse: collapse;
}

td, th {
  padding: 1px 2px;
  text-align: left;
}

td.right {
  text-align: right;
}

tbody td {
  border: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

tbody tr.highlight {
  background-color: #95cbf0;
}

tbody tr.highlight:hover {
  background-color: #75bdf0;
}

.settings {
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
}

.settings > *:nth-child(-n+2) {
  border-top: none;
}

.settings > * {
  border-top: 1px solid #ccc;
  padding: 2px;
}

.settings > * label {
  white-space: nowrap;
  display: inline-block;
  margin-right: .5em;
}
