table {
  border-collapse: collapse;
}

td, th {
  padding: 1px 2px;
  text-align: left;
}

td.right {
  text-align: right;
}

tbody td {
  border: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}

tbody tr.highlight {
  background-color: #95cbf0;
}

tbody tr.highlight:hover {
  background-color: #75bdf0;
}

.settings {
  margin-bottom: 1em;
}

.settings > * {
  display: flex;
}

.settings > * > * {
  flex: 1 1 auto;
}

.settings > * > :first-child {
  min-width: 5em;
  flex-grow: 0;
}

.settings span {
  display: inline-block;
  min-width: 5em;
  vertical-align: top;
}

.settings label {
  white-space: nowrap;
  display: inline-block;
  margin-right: .5em;
}
